html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: lightgray;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    min-height: 60%;
}

.canvas {
    display: flex;
    justify-content: center;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    margin-top: auto;
}

.settingsContainer {
    /* width: '50px';
    padding: 50px; */
}

.pixel {
    background-color: white;
}

.pixel.hovered {
    background-color: black;
}

.pixel.hovered-color {
    background-color: black;
}

.pixel.hovered-shade {
    background-color: black;
}


